@using gameshop.ViewModels
@model DetailsViewModel


<h1>
    @Model.Game.Name
</h1>
<img class="img-thumbnail" src="@Model.Game.Img" alt="@Model.Game.Name" width="300" height="300" />
<h3 class="bd-content-title">Описание</h3>
<p>
    @Model.Game.LongDesc
</p>
@if (Model.Game.Avalible)
{
    <a class="btn btn-warning mb-2" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.Game.ID">Добавить в корзину</a>
}
else
{
    <a class="btn mb-2" style="background-color: gray;">Нет в наличии</a>
}
